In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer



# import our own acquire module

import os
import acquire
import env
import prepare

In [2]:
df = sns.load_dataset('iris')

# # 4

# print the first 3 rows

In [3]:
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

# print the number of rows and columns (shape)

In [4]:
df.shape

(150, 5)

# print the column names

In [5]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

# print the summary statistics for each of the numeric variables

In [6]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

# # 5

# Read the data from this google sheet into a dataframe, df_google.

In [7]:
sheet_url =

SyntaxError: invalid syntax (4252266865.py, line 1)

In [ ]:
cvs_export_url =

In [ ]:
df_googlesheet = pd.read_csv('train.csv')

# print the first 3 rows

In [ ]:
df_googlesheet.head(3)

# print the number of rows and columns

In [ ]:
df_googlesheet.shape

# print the column names

In [ ]:
df_googlesheet.columns

# print the data type of each column

In [ ]:
df_googlesheet.dtypes

# print the summary statistics for each of the numeric variables

In [ ]:
df_googlesheet.describe()

# print the unique values for each of your categorical variables

In [ ]:
df_googlesheet.nunique()

# # 6

# Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [ ]:
df_excel = pd.read_excel('train.xlsx',sheet_name = 'train')

In [ ]:

df_excel.head()

# assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = pd.DataFrame(df_excel.head(100))
df_excel_sample

# print the number of rows of your original dataframe

In [ ]:
len(df_excel.index)

# print the first 5 column names

In [ ]:
five_name = df_excel_sample.iloc[: , :5].columns

In [ ]:
five_name

# print the column names that have a data type of object

In [ ]:
df_excel_sample.dtypes == object

In [ ]:
df_excel_sample.select_dtypes(include=['object']).columns

# compute the range for each of the numeric variables.

In [ ]:
df_excel_sample.dtypes

In [ ]:
num = df_excel_sample.select_dtypes(include=(['int64','float64']))

In [ ]:
num = num.astype('float64')

In [ ]:
num['PassengerId'].max() - num['PassengerId'].min()

In [ ]:
num['Survived'].max() - num['Survived'].min()

In [ ]:
num['Pclass'].max() - num['Pclass'].min()

In [ ]:
num['Age'].max() - num['Age'].min()

In [ ]:
num['SibSp'].max() - num['SibSp'].min()

In [ ]:
num['Parch'].max() - num['Parch'].min()

In [ ]:
num['Fare'].max() - num['Fare'].min()

# Data Preparation

# iris

In [16]:
df = acquire.get_iris_data(acquire.get_connection)

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [5]:
df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

# Drop the species_id and measurement_id columns.

In [ ]:
df = df.drop(columns=['species_id','measurement_id'])

In [ ]:
df

# Rename the species_name column to just species.m

In [ ]:
df = df.rename(columns={"species_name": "name"})
df.head()

# Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [ ]:
df.isnull().sum()

In [ ]:
spec_name_df = pd.get_dummies(df[['name']], dummy_na=False)
spec_name_df

In [ ]:
df = pd.concat([df, spec_name_df ], axis=1)
df

# Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [17]:
def prep_iris(df):

    df = df.drop(columns=['Unnamed: 0'])
    
    df = df.drop(columns=['species_id','measurement_id'])
    
    df = df.rename(columns={"species_name": "name"})
    
    spec_name_df = pd.get_dummies(df[['name']], dummy_na=False)
    
    df = pd.concat([df, spec_name_df ], axis=1)
    
    return df

In [10]:
clean_iris = prep_iris(df)

In [11]:
clean_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,name,name_setosa,name_versicolor,name_virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

# Using the Titanic dataset

In [22]:
df = acquire.get_titanic_data(acquire.get_connection)

In [ ]:
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df.head(1)

# Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
df = df.drop_duplicates()
df.shape

In [ ]:
cols_to_drop = ['deck', 'embarked', 'class', 'age']
df = df.drop(columns=cols_to_drop)

In [ ]:

missing = df.isnull().sum()
missing[missing > 0]

In [ ]:
df['embark_town'] = df.embark_town.fillna(value='Southampton')

# Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
obj_cols = df.columns[[df[col].dtype == 'O' for col in df.columns]]
for col in obj_cols:
    print(df[col].value_counts())
    print(df[col].value_counts(normalize=True, dropna=False))
    print('----------------------')

In [ ]:
dummy_df = pd.get_dummies(df[['sex','embark_town']], dummy_na=False)
dummy_df

In [ ]:
df = pd.concat([df, dummy_df], axis=1)

In [ ]:
df.head

# Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [23]:
def prep_titanic(df):
    
    df = df.drop(columns=['Unnamed: 0'])
    
    df = df.drop_duplicates()
    
    cols_to_drop = ['deck', 'embarked', 'class', 'age']
    df = df.drop(columns=cols_to_drop)
    
    df['embark_town'] = df.embark_town.fillna(value='Southampton')
    
    dummy_df = pd.get_dummies(df[['sex','embark_town']], dummy_na=False)
    
    df = pd.concat([df, dummy_df], axis=1)  
    
    return df

In [24]:
clean_titanic = prep_titanic(df)

In [ ]:
clean_titanic.head(1)

# Using the Telco dataset

# Use the function defined in acquire.py to load the Telco data.

In [25]:
df = acquire.get_telco_data(acquire.get_connection)

# Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [ ]:
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df = df.drop_duplicates()
df.head()

In [ ]:
cols_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']

In [ ]:
df = df.drop(columns=cols_to_drop)

# Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
cat_cols = df.select_dtypes(include = object).columns.to_list()
cat_cols

In [ ]:
dummy_df = pd.get_dummies(df[[
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']], dummy_na=False,drop_first=[True, True])
dummy_df

# Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [26]:
def prep_telco(df):
    
    df = df.drop(columns=['Unnamed: 0'])
    
    df = df.drop_duplicates()
    
    cols_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']
    df = df.drop(columns=cols_to_drop)
    
    dummy_df = pd.get_dummies(df[[
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']], dummy_na=False,drop_first=[True, True])
    
    df = pd.concat([df, dummy_df], axis=1)  
    
    return df

In [27]:
clean_telco = prep_telco(df)

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head(2)

# 2

Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [30]:
train,validate,test= prepare.split_data(clean_iris)

In [20]:
print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')

train -> (84, 8)
validate -> (36, 8)
test -> (30, 8)

# 3

In [29]:
train2,validate2,test2= prepare.split_data(clean_titanic)

In [32]:
print(f'train -> {train2.shape}')
print(f'validate -> {validate2.shape}')
print(f'test -> {test2.shape}')

train -> (498, 14)
validate -> (214, 14)
test -> (179, 14)

# 4

In [31]:
train3,validate3,test3= prepare.split_data(clean_telco)

In [33]:
print(f'train -> {train3.shape}')
print(f'validate -> {validate3.shape}')
print(f'test -> {test3.shape}')

train -> (3943, 6578)
validate -> (1691, 6578)
test -> (1409, 6578)